params {
    metadata = null
}

process {
    withName: WRITE_CSV {
        publishDir  = [
            path: { "${params.outdir}/csv/" },
            mode: "${params.publish_dir_mode}",
            enabled: !params.metadata
        ]
    }

    withName: ADD_METADATA {
        publishDir  = [
            path: { "${params.outdir}/csv/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.csv',
            enabled: true
        ]
    }

    withName: FASTQC_TRIM {
        ext.args    = '--quiet'
        publishDir  = [
            path: { "${params.outdir}/reports/fastqc_trimmed" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: FASTP {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn -> fn.startsWith('trimmed_fastq') ? fn : null },
                enabled: false
            ],
            [
                path: { "${params.outdir}/reports/fastp/" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json}",
                enabled: true
            ]
        ]   
    }

    withName: MULTIQC {
        ext.args    = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc_rnavar/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: !params.skip_multiqc
        ]
    }

}