params {
    metadata = null
}

process {
    withName: WRITE_CSV {
        publishDir  = [
            path: { "${params.outdir}/csv/" },
            mode: "${params.publish_dir_mode}",
            enabled: !params.metadata
        ]
    }

    withName: ADD_METADATA {
        publishDir  = [
            path: { "${params.outdir}/csv/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.csv',
            enabled: true
        ]
    }

    withName: FASTQC_TRIM {
        ext.args    = '--quiet'
        publishDir  = [
            path: { "${params.outdir}/reports/fastqc_trimmed" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: FASTP {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn -> fn.startsWith('trimmed_fastq') ? fn : null },
                enabled: false
            ],
            [
                path: { "${params.outdir}/reports/fastp/" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json}",
                enabled: true
            ]
        ]   
    }

    withName: MULTIQC {
        ext.args    = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc_rnavar/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: !params.skip_multiqc
        ]
    }

    withName: STAR_ALIGN {
        ext.args    = { [
            '--readFilesCommand zcat',
            '--twopassMode Basic',
            '--limitBAMsortRAM 1250000000',
            '--outReadsUnmapped None',
            '--outSAMtype BAM Unsorted',
            '--outSAMstrandField intronMotif',
            '--outSAMunmapped Within',
            '--outFilterMultimapNmax 20',
            '--outFilterMultimapScoreRange 1',
            '--outFilterMatchNminOverLread 0.33',
            '--outFilterScoreMinOverLread 0.33',
            '--outFilterMismatchNmax 10',
            '--alignIntronMax 500000',
            '--alignMatesGapMax 1000000',
            '--alignSJDBoverhangMin 1',
            '--sjdbScore 2',
            '--twopassMode Basic'
        ].flatten().unique(false).join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/reports/stats/${meta.id}/STAR_log" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab}'
            ],
            [
                path: { "${params.outdir}/preprocessing/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                enabled: false
            ],
            [
                path: { "${params.outdir}/preprocessing/${meta.id}/unmapped" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                enabled: params.save_unaligned
            ]
        ]
    }

    withName: 'PICARD_MARKDUPLICATES' {
        ext.args    = { [
            '--TMP_DIR ./',
            '--ASSUME_SORTED true',
            '--VALIDATION_STRINGENCY LENIENT',
            params.remove_duplicates ? '--REMOVE_DUPLICATES true' : ''
        ].join(' ').trim() }
        ext.prefix  = { "${meta.id}.md" }
        publishDir  = [
            [
                path: { "${params.outdir}/preprocessing/${meta.id}" },
                mode: params.publish_dir_mode,
                enabled: true,
                pattern: "*.{bam,bai,csi}"
            ],
            [
                path: { "${params.outdir}/reports/stats/${meta.id}" },
                mode: params.publish_dir_mode,
                enabled: true,
                pattern: "*.{metrics}"
            ]
        ]
    }

}